/* Fondo */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: light !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  width: 6px;
  background: rgb(240, 240, 240);
  border-radius: 18px;
}

body::-webkit-scrollbar-thumb {
  width: 6px;
  background: rgb(197, 197, 197);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
}

.main-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.bg-svg {
  background-color: #1B1B1B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(75,768,357)'%3E%3Cstop offset='0' stop-color='%231B1B1B'/%3E%3Cstop offset='1' stop-color='%230D0D0D'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='431' height='359.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#check {
  display: none;
}

/*----------------------------------------------------------BLOQUE------------------------------------------------------------*/

.header {
  position: fixed !important;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.burger-btn {
  display: none;
}

.link {
  text-decoration: none;
  font-weight: lighter;
  color: black;
}

.link:hover {
  font-weight: bold;
  color: black;
}

.block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.button {
  padding: 4px;
  border: 1px solid #fafafa;
  color: white;
  border: none;
  font-size: 22px;
  font-weight: light;
}

.card {
  width: 230px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0);
  border: none !important
}

.img-container {
  border-radius: 69% 43% 83% 19% / 87% 65% 44% 22%;
  border: 1px solid black;
}

.slide {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.form {
  width: 80%;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: -50px;
  border: solid 1px black;
}

.input {
  width: 90%;
  border: none;
  border-bottom: solid 1px black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-area {
  width: 90%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  resize: none;
  outline: none;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}

.avatar {
  margin-top: 20px;
  width: 400px;
  height: 400px;
  float: left;
  shape-outside: circle();
  clip-path: circle();
  background-color: #fafafa;
  border: solid 4px rgb(206, 206, 206);
}

.tags-container::-webkit-scrollbar {
  display: none;
  background: rgb(240, 240, 240);
  border-radius: 18px;
}

.tags-container::-webkit-scrollbar-thumb {
  display: none;
  background: rgb(197, 197, 197);
  border-radius: 8px;
}

.tags-container::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
}

.project-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-tags {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

/*----------------------------------------------------------ELEMENTO------------------------------------------------------------*/

.header__icon-container {
  margin-left: 50px;
}

.header__icon {
  height: 60px;
}

.nav-bar__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 15px;
}

.nav-bar__item {
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
  padding-left: 4px;
  padding-right: 4px;
}

.nav-bar__item::after {
  display: block;
  content: "";
  height: 4px;
  border-radius: 10px;
  width: 100%;
  background: black;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

.nav-bar__item:hover {
  --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  background-color: whitesmoke;
  border-radius: 4px;
}

.burger__check {
  display: none;
}

.card__body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fafafa;
  margin-right: 10px;
  margin-left: 10px;
}



.card__face {
  border: 1px solid #fafafa;
  border-radius: 5px;
  box-shadow: -3px 5px 15px 1px #fafafa50;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}

.card__front {
  height: 100%;
  width: 100%;
  transform: perspective(600px) rotateY(0deg);
}

.card__back {
  height: 100%;
  width: 100%;
  padding: 5%;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__back-text {
  font-size: medium;
}

.card__back-text::-webkit-scrollbar {
  width: 6px;
  background: rgb(240, 240, 240);
  border-radius: 18px;
}

.card__back-text::-webkit-scrollbar-thumb {
  width: 6px;
  background: rgb(197, 197, 197);
  border-radius: 8px;
}

.card__back-text::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
}

.card__img {
  width: 100%;
  height: auto;
}

.card__title {
  font-style: italic;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card__text {
  font-style: italic;
  font-weight: lighter;
}

.card:hover .card__front {
  transition: 1s;
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .card__back {
  transition: 1s;
  transform: perspective(600px) rotateY(360deg);
}

.form__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 15px;
}

/* ------------------------------------------------------------------------------MODIFICADOR----------------------------------------------------------------------- */

.button--absolute-ru {
  position: absolute !important;
  right: 0;
  top: 50px;
}

.button--absolute-rd {
  position: absolute !important;
  right: 0;
  bottom: 50px;
}

.link--simple:hover {
  font-weight: lighter;
}

.card__face--dark {
  border: solid 1px #010101;
  box-shadow: -3px 5px 15px 1px #00000050;
}

.card__footer--dark {
  border-top: 1px solid #010101
}

.button--dark {
  border: 1px solid black;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.text-justify {
  text-align: justify;
}

.hr--light {
  width: 40%;
  color: #fafafa;
  border: 1px solid white;
}

.card__footer--project {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.card__img--project {
  object-fit: cover;
  height: 100% !important;
}

/* --------------------------------------------------------------------------RESPONSIVE--------------------------------------------------------*/

@media(max-width: 768px) {

  .header__icon-container {
    margin-left: 20px;
  }

  .burger-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .burger__icon {
    font-size: 45px;
  }

  .burger__check {
    display: block;
    margin-right: 20px;
    transition: .5s all;
  }

  .nav-bar {
    position: fixed;
    top: 59px;
    bottom: 0;
    right: 0%;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    transition: all .5s;
  }

  .nav-bar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-left: 10px !important;
  }

  #check {
    display: none;
  }

  #check:checked~.burger__check {
    transform: rotate(180deg);
  }

  #check:checked~.nav-bar {
    right: 0%;
    left: 60%;
  }

  .form {
    position: static;
    margin-bottom: 20px;
  }

  .project-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

@media(max-width: 576px) {}

@media(max-width: 350px) {}